      
<div class="footer">
    <a class="" href="http://www.g242.org/">Go back to G242.org</a>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>        
        </body>
    </head>
</html>