<% include partials/header %>

<div class="login">
  <h1>Login</h1>
    <form class="login--form" action="/login" method="POST">
      <label for="email" class="login--label"><i class="fas fa-envelope login--icon"></i> Email Address:</label>
        <input type="email" name="username" class="login--input" id="email" placeholder="Enter Email Address">
      <label for="pwd" class="login--label"><i class="fas fa-key login--icon"></i> Password:
      </label>
      <input type="password" name="password" class="login--input" id="pwd" placeholder="Enter password">
      <div class="login-submit">
        <div>
          <button type="submit" class="btn-login btn-login--checkbox">Login</button>
        </div>
        <div>
          <label class="btn-login--checkbox"><input type="checkbox"> Remember me</label>
        </div>
      </div>
      <div class="login-submit">
        <p>Don't have an account? </p>
          <button class="btn-login">
            <i class="fa fa-user-plus btn-login--register" aria-hidden="true"></i>
            <a href="/register" class="btn-login--register">Sign Up Here</a>
          </button>
      </div>
      <div class="login-submit">
        <p>Forgot your password?<a href="/forgot" class="forgot"> Click here</a></p>
      </div>
    </form>
</div>

<% include partials/footer %>


