$color-primary-blue: rgba(144, 202, 249, 1);
$color-light-blue: rgb(79, 195, 247);

$btn-blue: rgb(30, 136, 229);
$btn-blue-light: rgb(33, 150, 243);

$color-light-grey: rgba(207, 216, 220, .7);
$color-dark-grey: rgba(55, 71, 79, 1);

$color-transparent: rgba(0, 0, 0, 0);

$color-black: rgba(33, 33, 33, 1);

$color-white: #fff;

$color-cancel: rgba(217,83,79, 1);
